# Note: Using an API key in a public-facing environment will expose
# it to user clients! If a key is needed for the requests you're
# making, consider proxying the client requests on a backend service.

# You shouldn't need an API key unless you're making an aggressive
# number of call in a short period of time (which is largely
# unnecessary for the use-case this app was designed for)
# See the MBTA's notes on API keys & rate limiting:
# https://www.mbta.com/developers/v3-api/best-practices

# If you do include an API Key here despite these recommendations
# (for example, during development), be sure that you're running on
# a private/trusted network, and accessing via private/trusted
# clients.
REACT_APP_API_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

# milliseconds
REACT_APP_DATA_REFETCH_INTERVAL=10000

# Route and Route stop values can be found in the MBTA's GTFS feed:
# https://www.mbta.com/developers/gtfs
REACT_APP_ROUTE=CR-Worcester
REACT_APP_ROUTE_STOP=place-WML-0214
